
.footer
{
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

body
{
	background-image: url("../resources/image/background.jpg");
  	padding: 0px;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}